@using WebDienTu.Data;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<NhanVien>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhSachNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DanhSachNhanVien</h1>

<p>
    <a asp-action="ThemNhanVien">Create New</a>
</p>

<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                STT
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Email
            </th>
            <th>
                Mật khẩu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls;
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">

                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    <a asp-action="SuaNhanVien" asp-route-id="@item.MaNv">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaNv">Details</a> |
                    <a asp-action="XoaNhanVien" asp-route-id="@item.MaNv">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("DanhSachNhanVien", new { page = page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link"
 }
})
