@model IEnumerable<WebDienTu.ViewModels.HangHoaVM>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="product-item">
            <div class="product-title">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                    @item.TenHH
                </a>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="product-image">
                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                    <img src="~/Hinh/HangHoa/@item.Hinh" alt="@item.TenHH">
                </a>
                <div class="product-action">
                    <a asp-action="AddToCart" asp-controller="Giohang" asp-route-id="@item.MaHh"><i class="fa fa-cart-plus"></i></a>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="product-price">
                <h3><span>$</span>@item.DonGia</h3>
                <a asp-action="AddToCart" asp-controller="Giohang" asp-route-id="@item.MaHh" class="btn"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
            </div>
        </div>
    </div>
}